@font-face {
    font-family: 'Hieroglyphic';
    src: url('new.otf') format('opentype');
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
}

span.myfont {
	color:  blue;
	font-size: 200%;
    font-family: 'Hieroglyphic';
}
